<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>pag2</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    </head>

<body>

    <div class="container">
        <div class="row m-5">
            <div class="col-3">
                <p><a href="home.html" class="display-5">Página 1</a></p>
            </div>
            <div class="col-3">
                <p><a href="pag2.html" class="display-5">Página 2</a></p>
            </div>
        </div>
    </div>

<div class="container">
    <div class="row m-5">
        <div class="col-4">

          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo quis deleniti ab, illum sint iure, rem obcaecati ducimus vero beatae consectetur sunt tempora illo repellat reprehenderit, error esse pariatur! Sed?
          Illum asperiores ea dolorum magnam odit libero ipsa earum atque, tempora officiis dolorem in tempore unde neque nobis harum fugiat consectetur vero eveniet voluptate assumenda! Culpa blanditiis tenetur harum assumenda!
          Quos quae tempore aperiam repellat sint ducimus suscipit consequuntur molestiae aliquam tempora, veniam iste vitae perferendis a architecto, eaque amet enim fuga id ex ipsum. Saepe qui obcaecati ad velit!
          Odit dolorem, voluptatum ea fugiat sit suscipit dolores iste provident ab consequuntur neque corporis est perspiciatis pariatur ex beatae praesentium nulla quaerat illum illo. Laboriosam error fuga dignissimos ex provident?
          Enim corporis, soluta quo saepe sint, harum atque eligendi, fuga consequatur praesentium et deserunt. Molestiae culpa, quisquam commodi quam laboriosam nobis ipsum explicabo cum debitis, voluptatibus blanditiis amet alias repudiandae!</p>
        
        </div>
        <div class="col-4">

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem debitis aliquid officiis nulla, quasi tempore consectetur enim voluptatibus maxime sit provident distinctio, illo ducimus perspiciatis. Atque nihil minima dicta repudiandae!
            A modi mollitia consectetur accusantium! Asperiores deserunt, eveniet pariatur dignissimos consectetur accusantium dicta recusandae. Aliquam minima ullam pariatur autem et, quaerat accusamus iste harum maxime similique soluta reiciendis! Laboriosam, quaerat.
            Sint odit non esse dignissimos. Aliquam delectus inventore laboriosam aspernatur nisi, iste numquam at harum distinctio sit voluptatibus! Quibusdam libero nam non ipsa quo beatae sapiente, aperiam error doloremque labore?
            Provident dolor iure quasi debitis eaque facere eum, deleniti asperiores doloribus quidem pariatur accusantium quisquam at sint esse possimus porro, adipisci in sed similique? Quasi corporis nobis quam assumenda voluptatibus?
            Omnis earum nobis quis molestias hic, rem aliquam id? Quasi reprehenderit quae dolores sequi dolor dolorem eveniet minima debitis, et, qui est maxime at facilis earum, expedita illum. Maxime, et?</p>
          
          </div>
          <div class="col-4">

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis nam odit magni, minima aliquid quis, natus culpa hic error, cum laudantium amet atque? Culpa nobis, odio officiis illum officia animi.
            Eveniet fugit voluptatem quibusdam soluta cumque quaerat explicabo veniam, blanditiis modi enim! Rerum maxime obcaecati sapiente doloribus nam illo asperiores vitae magni sunt et optio esse doloremque, atque voluptas expedita?
            Excepturi architecto explicabo dolorem esse doloremque deserunt iusto omnis, nihil eligendi corrupti quidem sequi facere? Facere iure sint quam saepe magni ut? Cupiditate inventore maxime aliquid odio eius ad dolorem.
            Quasi voluptas, minus debitis minima accusantium repudiandae laborum magni reiciendis nobis sunt cupiditate aliquid dolorum? Corporis autem quos laborum aliquid voluptate quidem, labore necessitatibus consequatur tempore enim asperiores eius eveniet!
            Consectetur consequatur nam nostrum eligendi possimus veritatis beatae vitae placeat alias saepe, delectus odio perspiciatis sapiente dignissimos a, sit accusamus laboriosam eum fugiat odit voluptatem impedit aliquid officiis. Quia, laboriosam!</p>
          
          </div>
    
    </div>
</div>
<Footer class="container border border-secundary text-center p-4">
    <h4>Footer</h4>
</Footer>


</body>
</html>
